@font-face {
  font-family: "landy";
  src: url("../fonts/landy.woff") format("woff");
  font-weight: normal; }

:root {
  --logo: #222;
  --white: #fff;
  --azul: #5989e5;
  --turqueza: #37cfdc;
  --feature-active: #4f82e0; }

body {
  font-family: "Open Sans", serif; }

.btn_landy {
  background: #5989e5;
  background: -webkit-gradient(linear, left top, right top, from(#5989e5), to(#37cfdc));
  background: -webkit-linear-gradient(left, #5989e5 0%, #37cfdc 100%);
  background: -o-linear-gradient(left, #5989e5 0%, #37cfdc 100%);
  background: linear-gradient(90deg, #5989e5 0%, #37cfdc 100%);
  border-radius: 30px;
  border: none;
  padding: 10px 40px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  font-size: 14px; }

.btn_landy-outline {
  background: none;
  border: 2px solid var(--azul);
  color: var(--azul); }

.section_title {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 40px;
  color: #333; }

.section_title-white {
  color: #fff; }

.section_title-notmargin {
  margin-bottom: 10px; }

.padding_section {
  padding: 140px 0; }

/*****************
navegation
*****************/
.main_navegation .navbar {
  padding: 1.4rem 2.5rem;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }
  .main_navegation .navbar.bg-light {
    background-color: var(--white) !important; }
  .main_navegation .navbar .navbar-brand {
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--logo); }
  .main_navegation .navbar.navbar-light .navbar-nav .nav-link {
    font-size: 1.1rem;
    color: #333;
    padding: 0.7rem 1rem; }

/*****************
banner
*****************/
.main_banner {
  background-color: #f5f5f5; }
  .main_banner .banner_title {
    font-weight: 800;
    font-size: 2.9rem;
    color: #333; }
  .main_banner .banner_description {
    margin: 20px 0;
    font-size: 1.1rem;
    font-weight: 400;
    color: #777;
    line-height: 1.5rem; }

/*****************
works
*****************/
.main_work .works_image {
  border-top: 50px solid #f2f2f2;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: -5px 5px 40px rgba(0, 0, 0, 0.2);
  box-shadow: -5px 5px 40px rgba(0, 0, 0, 0.2);
  width: 800px;
  margin: 0 auto;
  position: relative; }
  .main_work .works_image img {
    display: block;
    width: 100%; }
  .main_work .works_image:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fc615d;
    position: absolute;
    top: -30px;
    left: 30px;
    -webkit-box-shadow: 25px 0 #fdbd41, 50px 0 #34c749;
    box-shadow: 25px 0 #fdbd41, 50px 0 #34c749; }

.main_work .work_item {
  margin-top: 80px;
  color: #333;
  padding: 50px;
  -webkit-box-shadow: -10px 6px 30px rgba(0, 0, 0, 0.3);
  box-shadow: -10px 6px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s; }
  .main_work .work_item.active {
    background-color: #f1f1f1;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }
  .main_work .work_item .work_number {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, right top, from(#5989e5), to(#37cfdc));
    background: -webkit-linear-gradient(left, #5989e5 0%, #37cfdc 100%);
    background: -o-linear-gradient(left, #5989e5 0%, #37cfdc 100%);
    background: linear-gradient(90deg, #5989e5 0%, #37cfdc 100%);
    color: var(--white);
    -webkit-box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -25px;
    font-size: 1.4rem;
    -webkit-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    transform: translateX(-25px); }
  .main_work .work_item .work_description {
    line-height: 22px; }

/*****************
about us
*****************/
.main_about {
  background-color: #f5f5f5; }
  .main_about .about_description {
    width: 85%;
    font-size: 19px;
    font-weight: 100;
    line-height: 34px;
    margin-bottom: 30px; }

/*****************
feature
*****************/
.main_feature .feature__left .feature_img {
  width: 50px;
  margin-bottom: 20px; }

.main_feature .feature__left .feature_title {
  margin-bottom: 0.5rem;
  font-weight: 800;
  line-height: 1.1;
  font-size: 24px;
  margin-bottom: 25px; }

.main_feature .feature__left .feature_description {
  margin-bottom: 25px;
  line-height: 1.8rem;
  font-size: 0.95rem;
  color: #656565;
  margin-bottom: 30px; }

.main_feature .feature__right img {
  width: 100%; }

/*****************
more feature
*****************/
.main_morefeature {
  background-color: #5b8be2; }
  .main_morefeature .morefeature_description {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    color: var(--white);
    line-height: 34px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 70px; }
  .main_morefeature .morefeature_container {
    -webkit-transition: -webkit-box-shadow 0.2s;
    transition: -webkit-box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s; }
    .main_morefeature .morefeature_container:hover {
      background-color: var(--feature-active);
      -webkit-box-shadow: -6px 10px 30px rgba(0, 0, 0, 0.2);
      box-shadow: -6px 10px 30px rgba(0, 0, 0, 0.2); }
    .main_morefeature .morefeature_container .morefeature_item {
      padding: 50px 30px;
      color: var(--white);
      text-align: center; }
      .main_morefeature .morefeature_container .morefeature_item i {
        display: inline-block;
        font-size: 44px;
        margin-bottom: 20px; }
      .main_morefeature .morefeature_container .morefeature_item .morefeature_title {
        margin-bottom: 0.5rem;
        font-weight: 800;
        font-size: 20px;
        line-height: 1.1;
        margin-bottom: 8px; }
      .main_morefeature .morefeature_container .morefeature_item .morefeature_title_description {
        font-weight: 300;
        margin: 20px 0;
        line-height: 28px; }

/*****************
testimonial
*****************/
.main_testimonial .testimonial_description {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8em; }

.main_testimonial .testimonial_item {
  margin: 50px 60px;
  padding: 90px 60px 80px 60px;
  -webkit-box-shadow: -4px 0px 30px rgba(0, 0, 0, 0.15);
  box-shadow: -4px 0px 30px rgba(0, 0, 0, 0.15);
  position: relative; }
  .main_testimonial .testimonial_item .testimonial_image {
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -40px;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2); }
  .main_testimonial .testimonial_item .testimonial_item_description {
    padding-top: 20px;
    line-height: 1.8rem;
    font-size: 0.9rem;
    line-height: 1.7rem;
    color: #656565;
    margin-bottom: 16px;
    position: relative; }
    .main_testimonial .testimonial_item .testimonial_item_description:before {
      content: "";
      display: inline-block;
      width: 40px;
      height: 40px;
      background-image: url(../img/quote.svg);
      background-size: cover;
      opacity: 0.2;
      background-repeat: no-repeat;
      position: absolute;
      top: -30px; }
  .main_testimonial .testimonial_item .testimonial_name {
    font-weight: bold; }

.main_testimonial .owl-nav {
  font-size: 50px;
  text-align: center;
  margin-top: -10px; }
  .main_testimonial .owl-nav > [type*="button"] {
    margin: 0 25px;
    outline: none; }
    .main_testimonial .owl-nav > [type*="button"] span {
      font-weight: 300;
      font-size: 40px; }

.main_testimonial .owl-dots {
  text-align: center; }
  .main_testimonial .owl-dots > button {
    outline: none; }
    .main_testimonial .owl-dots > button.active span {
      background-color: #869791; }
    .main_testimonial .owl-dots > button > span {
      width: 10px;
      height: 10px;
      display: inline-block;
      background-color: #d6d6d6;
      border-radius: 50%;
      margin: 0 5px; }

/*****************
suscribe
*****************/
.main_subscribe {
  background-color: #f5f5f5; }
  .main_subscribe .suscribe_description {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8em; }
  .main_subscribe .suscribe_form {
    margin-top: 40px;
    background-color: var(--white);
    padding: 60px 40px;
    -webkit-box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.2);
    box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.2); }
    .main_subscribe .suscribe_form form {
      position: relative; }
      .main_subscribe .suscribe_form form input {
        border: 1px solid #dddddd;
        width: 100%;
        height: 68px;
        border-radius: 40px;
        background-color: transparent;
        outline: none;
        padding: 0 210px 0 30px;
        caret-color: var(--azul); }
        .main_subscribe .suscribe_form form input::-webkit-input-placeholder {
          color: #757575;
          font-weight: 100; }
        .main_subscribe .suscribe_form form input:-ms-input-placeholder {
          color: #757575;
          font-weight: 100; }
        .main_subscribe .suscribe_form form input::-ms-input-placeholder {
          color: #757575;
          font-weight: 100; }
        .main_subscribe .suscribe_form form input::placeholder {
          color: #757575;
          font-weight: 100; }
        .main_subscribe .suscribe_form form input:hover {
          border: 1px solid var(--azul); }
        .main_subscribe .suscribe_form form input:focus {
          border: 1px solid var(--azul); }
        @media screen and (max-width: 768px) {
          .main_subscribe .suscribe_form form input {
            padding: 0 30px; } }
      .main_subscribe .suscribe_form form .btn_form {
        position: absolute;
        top: 9px;
        right: 10px;
        height: 50px;
        padding: 15px 50px; }

/*****************
navegation footer
*****************/
.main_footer .footer_title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 20px; }

.main_footer .footer_phone {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 15px; }

.main_footer .footer_title_navegation {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 20px; }

.main_footer .footer_navegation {
  margin-bottom: 30px; }
  .main_footer .footer_navegation li {
    line-height: 30px; }
    .main_footer .footer_navegation li:not(:last-child) {
      margin-right: 5px; }
    .main_footer .footer_navegation li .footer_navegation_item {
      color: #888; }
    .main_footer .footer_navegation li .footer_social {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      background-color: #000; }
      .main_footer .footer_navegation li .footer_social i {
        color: var(--white);
        font-size: 14px;
        line-height: 30px; }

/*****************
footer
*****************/
.main_footer_two .footer {
  border-top: 1px solid #ddd;
  padding: 30px 0; }
  .main_footer_two .footer p {
    color: #333; }
    .main_footer_two .footer p a {
      color: #333;
      -webkit-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s; }
      .main_footer_two .footer p a:hover {
        text-decoration: none;
        color: var(--azul); }

/*****************
media querie
*****************/
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .main_banner .banner_img {
    width: 100%; }
  .main_testimonial .testimonial_item .testimonial_image {
    top: -40px;
    left: 50%;
    -webkit-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    transform: translateX(-40px); }
  .main_work .works_image {
    width: 100%;
    max-width: 800px; }
    .main_work .works_image img {
      width: 100%; } }

@media screen and (min-width: 769px) and (max-width: 992px) {
  .main_testimonial .testimonial_item {
    padding: 80px 40px 40px 40px; }
    .main_testimonial .testimonial_item .testimonial_image {
      top: -40px;
      left: 50%;
      -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
      transform: translateX(-40px); }
  .main_morefeature .morefeature_description {
    width: 100%; }
  .main_about .about_description {
    width: 100%; }
  .main_subscribe .suscribe_form form input {
    margin-bottom: 20px; }
  .main_subscribe .suscribe_form form .btn_form {
    position: initial;
    width: 100%;
    height: 54px; }
  .main_work .works_image {
    width: 100%;
    max-width: 800px; }
    .main_work .works_image img {
      width: 100%; } }

@media screen and (max-width: 768px) {
  .main_banner .banner_img {
    width: 100%; }
  .main_banner .btn_landy {
    display: block; }
    .main_banner .btn_landy:first-of-type {
      margin-bottom: 10px; }
    .main_banner .btn_landy:last-of-type {
      margin-left: 0; }
  .main_about .about_description {
    width: 100%; }
  .main_testimonial .testimonial_item {
    margin: 50px 30px; }
    .main_testimonial .testimonial_item .testimonial_image {
      top: -40px;
      left: 50%;
      -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
      transform: translateX(-40px); }
  .main_morefeature .morefeature_description {
    width: 100%; }
  .main_footer_two .footer {
    text-align: center; }
    .main_footer_two .footer p:first-child {
      margin-bottom: 10px; }
  .main_subscribe .suscribe_form form input {
    margin-bottom: 20px; }
  .main_subscribe .suscribe_form form .btn_form {
    position: initial;
    width: 100%;
    height: 54px; }
  .main_work .works_image {
    width: 100%;
    max-width: 800px; }
    .main_work .works_image img {
      width: 100%; }
  .work_item.active {
    -webkit-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    transform: translateY(0) !important; } }
